.App {
  text-align: center;
}
body{
  background: linear-gradient(to top, #33ccff 0%, #ff99cc 120%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400vh;
}
h1{
  font-size: 50px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.card{
  margin: 20px 0px;
  border: 4px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
.card a:hover{
  cursor: pointer;
  background: black;
  color:yellow;
}
.card:hover{
 transform: translateY(-20px);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
